dash==0.39.0
dash-core-components==0.44.0
dash-daq==0.1.0
dash-html-components==0.14.0
dash-renderer==0.20.0
dash-table==3.6.0
matplotlib==3.0.2
numpy==1.15.4
numpydoc==0.8.0
pandas==0.23.4
pandocfilters==1.4.2
plotly==3.6.1
pyserial==3.4
redis==3.2.1
requests==2.21.0
requests-toolbelt==0.9.1
rq==0.13.0
scipy==1.1.0